<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HOME PAGE</title>
</head>
<body>
<h1>WELCOME AUTHORISED USER.....</h1>

<H1>CLICK ON SHOW TO VIEW ALL RECORDS</H1>
<form name="f3" action="/stdHome/ShowAll">
    <input type="submit" name="sub5" value="SHOW RECORDS"> &nbsp;&nbsp;&nbsp;&nbsp;
    <input type="submit" name="sub5" value="UPDATE RECORDS">&nbsp;&nbsp;&nbsp;&nbsp;
    <input type="submit" name="sub5" value="DELETE RECORDS">&nbsp;&nbsp;&nbsp;&nbsp;
</form>
</body>
</html>
